body{
background:#000;
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:#00ff99;
}

.container{
width:350px;
background:#111;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px #00ff99;
text-align:center;
}

h1{
font-size:35px;
margin-bottom:10px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
background:#000;
border:1px solid #00ff99;
color:white;
border-radius:8px;
}

button{
width:100%;
padding:12px;
background:#00ff99;
color:black;
border:none;
font-weight:bold;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:white;
}

a{
color:#00ff99;
text-decoration:none;
}
